@charset "UTF-8";

/* .star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: orange;}
 */

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 10px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  transition: 0.5s;
}
.reveal-if-active label {
  display: block;
  margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
  width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}

form {
  max-width: 500px;
  
}
form > div {
  margin: 0 0 20px 0;
}
form > div label {
  font-size: 10px;
}
form > div > div {
  padding: 5px;
}


body {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}