<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <!-- 콘솔 로그 -->
    <appender name="infoConsole" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%5p] %d{hh\:mm s} (%F\:%L) %c{1}.%M \: %m%n" />
        </layout>  
    </appender>
    
    <appender name="login" class="org.apache.log4j.RollingFileAppender">
		<!-- 로그 파일 생성위치 -->
		<param name="file" value="c:/logs/login.log" />
		<param name="Append" value="true" />
		<!-- 로그 파일 하나당 사이즈 5m -->
		<param name="MaxFileSize" value="20000kb" />
		<!-- 최대 생성 파일수 ( 50개가 넘으면 순차적으로 파일이 삭제됨 -->
		<param name="MaxBackupIndex" value="5000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
			<!-- <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" /> -->
		</layout>
	</appender>
	    <appender name="main" class="org.apache.log4j.RollingFileAppender">
		<!-- 로그 파일 생성위치 -->
		<param name="file" value="c:/logs/main.log" />
		<param name="Append" value="true" />
		<!-- 로그 파일 하나당 사이즈 5m -->
		<param name="MaxFileSize" value="20000kb" />
		<!-- 최대 생성 파일수 ( 50개가 넘으면 순차적으로 파일이 삭제됨 -->
		<param name="MaxBackupIndex" value="5000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
			<!-- <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" /> -->
		</layout>
	</appender>
	    <appender name="host" class="org.apache.log4j.RollingFileAppender">
		<!-- 로그 파일 생성위치 -->
		<param name="file" value="c:/logs/host.log" />
		<param name="Append" value="true" />
		<!-- 로그 파일 하나당 사이즈 5m -->
		<param name="MaxFileSize" value="20000kb" />
		<!-- 최대 생성 파일수 ( 50개가 넘으면 순차적으로 파일이 삭제됨 -->
		<param name="MaxBackupIndex" value="5000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
			<!-- <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" /> -->
		</layout>
	</appender>
	    <appender name="show" class="org.apache.log4j.RollingFileAppender">
		<!-- 로그 파일 생성위치 -->
		<param name="file" value="c:/logs/show.log" />
		<param name="Append" value="true" />
		<!-- 로그 파일 하나당 사이즈 5m -->
		<param name="MaxFileSize" value="20000kb" />
		<!-- 최대 생성 파일수 ( 50개가 넘으면 순차적으로 파일이 삭제됨 -->
		<param name="MaxBackupIndex" value="5000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
			<!-- <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" /> -->
		</layout>
	</appender>
	    <appender name="process" class="org.apache.log4j.RollingFileAppender">
		<!-- 로그 파일 생성위치 -->
		<param name="file" value="c:/logs/process.log" />
		<param name="Append" value="true" />
		<!-- 로그 파일 하나당 사이즈 5m -->
		<param name="MaxFileSize" value="20000kb" />
		<!-- 최대 생성 파일수 ( 50개가 넘으면 순차적으로 파일이 삭제됨 -->
		<param name="MaxBackupIndex" value="5000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %m%n" />
			<!-- <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" /> -->
		</layout>
	</appender>

    
<!--     <root>
        <level value="INFO" />
        <appender-ref ref="infoConsole" />
        <appender-ref ref="rolling" />
    </root> -->
 	<logger name="login" additivity="false">
		<level value="debug" />
		<appender-ref ref="infoConsole" />
		<appender-ref ref="login" />
	</logger>
	 <logger name="main" additivity="false">
		<level value="debug" />
		<appender-ref ref="infoConsole" />
		<appender-ref ref="main" />
	</logger>
	 <logger name="show" additivity="false">
		<level value="debug" />
		<appender-ref ref="infoConsole" />
		<appender-ref ref="show" />
	</logger>
	 <logger name="host" additivity="false">
		<level value="debug" />
		<appender-ref ref="infoConsole" />
		<appender-ref ref="host" />
	</logger>
	 <logger name="process" additivity="false">
		<level value="debug" />
		<appender-ref ref="infoConsole" />
		<appender-ref ref="process" />
	</logger>

</log4j:configuration>

