<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>studyloop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
	<servlet-name>studyloop</servlet-name> <!-- ApplicationContext.mxl => spring-servlet.xml -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>studyloop</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/views/error/400.jsp</location>
	</error-page>
	<error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/views/error/403.jsp</location>
	</error-page>
	<error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
	</error-page>
	<error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
	<error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/views/error/503.jsp</location>
	</error-page> -->
	 <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>
           	WEB-INF/log4j.xml
        </param-value>
    </context-param>
 
    <!-- Log4j -->
    <listener>
        <listener-class>
            org.springframework.web.util.Log4jConfigListener
        </listener-class>
    </listener>
</web-app>
